.app-form-body{
    background-color: #FFFEF2;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    justify-content:space-around;
    top: 70px;
    position: fixed;
    font-family: "Inter", sans-serif;
    bottom: 40px;
}

.app-form-buttons {
    font-family: "Inter", sans-serif;
    border-radius: 20px;
    left: 50px;
    top: 35%;
    width: 10%;
    position: fixed;
    z-index: 2;
    padding: 1%;
    background-color: #EFEFEF;
}

.buttons{
    background-color: #C05746;
    color: #FFFEF2;
    padding: 5px 9px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-family: "Inter", sans-serif;
    white-space: nowrap;
}

.buttons:hover{
    background-color: #A74839;
}

.buttons-g{
    background-color: #4B7F52;
    color: #FFFEF2;
    padding: 5px 9px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-family: "Inter", sans-serif;
}

.buttons-g:hover{
    background-color: #3C6742;
}

.app-form-main {
    flex-basis: 70%;
    padding: 5px 5px;
    margin-left: 10%;
    width: auto;
}

.form-title {
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-top: 5%;
}

.backgrounds {
    background-color: #EFEFEF;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.table-form {
    padding-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr auto;
}

.table-form-th {
    padding-right: 50px;
    text-align: left; 
    color: #6D6D6D;
    font-size: 14px;
}

.table-form-th-1 {
    padding-right: 10px;
    text-align: left; 
    color: #6D6D6D;
    font-size: 14px;
}

.table-form-td {
    padding-right: 50px;
    text-align: left;
}

.table-form-td-1 {
    padding-right: 5px;
    text-align: left;
}

.address-field {
    width: 200%;
}


.input-suffix {
    width: 33%;
    margin-left: 10px;
}

.form-sections {
    text-align: center;
    font-size: larger;
    margin-top: 1%;
    margin-bottom: 1%;
}

.form-section-1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.form-section-1-1 {
    flex-direction: column;
}

.form-section-2 {
    flex-direction: column;
    width: 100%;
}

.parentname {
    width: 150%;
}

.parentname-1 {
    width: 100%;
}

.parentname-2 {
    width: 95%;
}

.age-field {
    width: 30%;
}

.text-area {
    width: 700px;
    height: 150px;
    padding: 10px;
}

.agreement {
    font-style: italic;
    margin-top: 10px;
    padding: 5px 5px;
    font-size: 15px;
    margin-bottom: 10px;
}

.form-subtitle {
    font-style: italic;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
}

.submit-button {
    background-color: #4B7F52;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 9px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-family: "Inter", sans-serif;   
}

.submit-button:hover {
    background-color: #3C6742;
}

label.upload-label {
    user-select: none;
    padding: 1.5px;
    cursor: pointer;
    background-color: #4B7F52;
    color: #FFFEF2
}

label.upload-label:hover {
    cursor: pointer;
    background-color: #3C6742;
    color: #FFFEF2
}

.upload-photo-box {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    background-color: #4B7F52;
    color: white;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px 5px;
    margin-right: 1%;
}

.upload-photo-box:hover {
    cursor: pointer;
    background-color: #3C6742;
    color: #FFFEF2
}

#upload-photo {
    position: absolute;
    z-index: -1;
}

.uploaded-image {
    margin-bottom: 10px;
}

.uploaded-image img {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 8px;
    box-shadow: 0 0 4px #1A1423;
}

.for-required {
    color : #C05746;
}

@media (max-width: 600px) {
    .app-form-body {
        flex-direction: column;
    }

    .app-form-buttons {
        left: 30%;
        top: 80px;
        width: 35%;
        padding: 10px;
    }

    .backgrounds {
        width: 100%;
    }

    .buttons, .buttons-g, .submit-button {
        margin: 10px 0;
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .app-form-main {
        flex-basis: 100%;
        padding: 10px;
        margin-top: 120px;
    }

    .form-title {
        margin-top: 20px;
    }

    .form-section-1 {
        flex-direction: column;
        justify-content: center;
    }

    .backgrounds {
        width: 700px;
    }

    .text-area {
        width: 100%;
    }

    .table-form {
        grid-template-columns: 1fr;
    }
}