@font-face {
    font-family: 'Inter';
    src: url('../components/Inter.ttc') format('truetype');
}

.main-header {
    user-select: none;
    position: fixed;
    display: flex;
    padding: 20px;
    background: #C05746;
    align-items: center;
    color: #FFFEF2;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    z-index: 100;
}

.main-logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 50%;
}

.header-text {
    font-family: "Inter", sans-serif;
    color: #FFFEF2;
    text-align: left;
    font-size: 140%;
    font-weight: bold;
    margin: 0;
}

.header-text :link {
    font-family: "Inter", sans-serif;
    color: #FFFEF2;
    text-decoration: none;
    text-align: left;
    font-size: 110%;
    font-weight: bold;
    margin: 0;
}

.header-text :visited {
    color: #FFFEF2;
    text-decoration: none;
}

.subheader-text {
    font-family: "Inter", sans-serif;
    color: #FFFEF2;
    text-align: left;
    font-size: 20px;
    margin: 0;
}

.header-div-right {
    flex: 1;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.main-pic-right {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 100%;
}

.back-button {
    user-select: none;
    left: 4%;
    top: 95px;
    width: 5%;
    border-radius: 10px;
    background-color: #4B7F52;
    padding: 5px 9px;
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    position: fixed;
    cursor: pointer;
    z-index: 2;
}

.back-button:hover {
    background-color: #3C6742;
}

.back-button :link {
    color: #FFFEF2;
    text-decoration: none;
}

.back-button :visited {
    color: #FFFEF2;
    text-decoration: none;
}

.logout {
    font-family: "Inter", sans-serif;
    font-size: 130%;
    font-weight: bold;
    margin-right: 1%;
    color: #FFFEF2;
    padding: 1%;
    border-radius: 20%;
    background-color: #4B7F52;
}

.logout:hover {
    background-color: #3C6742;
    cursor: pointer;
}

@media (max-width: 767px) {
    .header-text {
        display: none;
    }

    .subheader-text {
        display: none;
    }
    
    .back-button {
        width: 20%;
    }   
}