body {
    background-color: #FFFEF2;
    overflow: auto;
    padding-bottom: 30px;
}

.home-main-text {
    font-family: "Inter", sans-serif;
    padding-top: 95px;
    font-weight: bold;
    font-size: 200%;
    padding-left: 2.5%;
}

.home-main-desc {
    font-family: "Inter", sans-serif;
    margin: 0;
    font-size: 100%;
    padding-left: 3%;
    padding-right: 10%;
    padding-bottom: 1%;
    font-style: italic;
    white-space: nowrap;
}

.home-row {
    display: flex;
    align-items: center;
    padding-left: 3%;
}

.home-desc {
    font-family: "Inter", sans-serif;
    margin: 0;
    font-size: 100%;
    padding-left: 20px;
    padding-right: 10%;
    padding-bottom: 3%;
    font-style: italic;
    white-space: nowrap;
    overflow-wrap: break-word;
}

.horizontal-line {
    border-top: 2000% solid;
    width: 100%;
}

.home-text {
    font-family: "Inter", sans-serif;
    text-align: left;
    padding-top: 1%;
    font-weight: bold;
    font-size: 200%;
    padding-left: 20px;
}

@media only screen and (max-width: 1000px) {
    .home-desc {
        white-space: normal;
    }

    .home-main-desc {
        white-space: normal;
    }
}

.green-button {
    font-family: "Inter", sans-serif;
    background-color: #4B7F52;
    border: none;
    border-radius: 20px;
    height: 125px;
    width: 275px;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    cursor: pointer;
    min-width: 200px; 
}

.green-button :link {
    color: #FFFEF2;
    text-decoration: none;
    font-size: 30px;
}

.green-button :visited {
    color: #FFFEF2;
    text-decoration: none;
    font-size: 30px;
}

.green-button:hover {
    background-color: #3C6742;
}

.blue-button {
    font-family: "Inter", sans-serif;
    background-color: #255F85;
    border: none;
    border-radius: 20px;
    height: 125px;
    width: 275px;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    cursor: pointer;
    min-width: 200px; 
}

.blue-button :link {
    color: #FFFEF2;
    text-decoration: none;
    font-size: 30px;
}

.blue-button :visited {
    color: #FFFEF2;
    text-decoration: none;
    font-size: 30px;
}

.blue-button:hover {
    background-color: #1F4F6F;
}
