* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Inter, sans-serif;
  overflow: hidden;
}

.login-header {
  position: fixed;
  display: flex;
  padding: 20px;
  background: #C05746;
  align-items: center;
  color: #FFFEF2;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.login-logo {
  height: 5%;
  width: 5%;
  margin-right: 20px;
  border-radius: 50%;
}

.login-header-text {
  font-family: "Inter", sans-serif;
  color: #FFFEF2;
  text-align: left;
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.login-subheader-text {
  font-family: "Inter", sans-serif;
  color: #FFFEF2;
  text-align: left;
  font-size: 30px;
  margin: 0;
}

.login-info {
  z-index: 2;
  position: absolute;
  left: 3%;
  top: 38%;
  width: 60%;
  height: auto;
  box-shadow: 0 4px 8px 0 #1A1423;
  padding: 5px 18px 25px 18px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 15px;
  opacity: 0.8;
}

.login-info h2 {
  font-size: 250%;
  font-weight: bolder;
  padding: 10px;
}

.sv-title {
  margin-top: 3%;
}

.sv-desc {
  font-style: italic;
  font-family: Inter, sans-serif;
  text-align: justify;
  padding: 10px;
  font-size: 150%;
  margin: 10px 0px 15px 0px;
  padding-bottom: 20px;
  line-height: 1.7;
  margin: 0px;
}

.apply-button {
  font-family: Inter;
  padding: 0px;
  font-size: 16px;
  background-color: #4B7F52;
  border-radius: 5px;
  color:#FFFEF2;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
  padding: 6px 30px 8px 30px
}

.apply-button:hover {
  background-color: #3C6742;
  color:#FFFEF2;
  cursor: pointer;
}

.login-limiter {
  overflow: hidden;
}

.login-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.login-wrap {
  width: 100%;
  background: #FFFEF2;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}

.login-more {
  width: calc(100% - 560px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(#FFFFFF66, #FFFFFF66), url("../images/lib_bg.jpg");
  position: relative;
  z-index: 1;
}

.login-form {
  margin-top: 5%;
  width: 560px;
  min-height: 88vh;
  display: block;
  background-color: #f7f7f7;
  padding: 173px 55px 55px 55px;
}

.login-form-title {
  width: 100%;
  display: block;
  font-family: Inter;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

#signInDiv {
  background: #FFFEF2;
  color: #9E9E9E;
  width: 402px;
  border-radius: 5px;
  border: thick solid #4B7F52;
  box-shadow: 1px 1px 1px #4B7F52;
}

#signInDiv:hover {
  cursor: pointer;
}

#signInDiv::shadow .content span {
  font-size: 16px;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}
